/* LOGO  */

.logo-img{
    margin-top: -6px;
     width:30px ;
     height:30px;
     margin-right: 5px;
}

.custom-card {
    max-width: 540px;
    /* border: 1px solid #6c757d;  */
    /* border-radius: 10px; */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-top: 25px;
}

.custom-card:hover {
    transform: scale(1.02);
    /* border: 2px solid #aaff00; */
}

.custom-card .row {
    align-items: center; 
}


.custom-card img {
    min-height: 197px; 
    width: 100%;
    object-fit: cover; 
    border-radius: 10px;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
}

@media (max-width: 373px) {
    .custom-card img {
        /* width: 250px;   */
        border-bottom: 0px;
        
    }
    
    
}

@media (min-width: 374px) {
    .custom-card img {
        width: 130%;  
        border-bottom-left-radius: 0px;
    }

    
}

.custom-card .card-body {
    /* background-color: yellow; */
    background-color:  #f9f9f9;  
    padding: 1px;
    padding-left: 12px;
    height: 197px; /* Set a fixed height for the card body */
    overflow: hidden; /* Hide overflow content */
}

.custom-card .card-title {
    color: #000000;
    font-weight: bold;
}

.custom-card .card-text {
    color: #333;
    font-size: 14px;
}

.custom-card small {
    color: #6c757d;
}


/* vacancy  */

.new-card {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffff;
    transition: height 0.3s ease-in-out, transform 0.3s ease-in-out;
    height: 80px; /* Default collapsed height */
    margin: 10px;
    width: auto;
    overflow: hidden;
}

.new-card.expanded {
    height: 450px; /* Expanded height */
    overflow: auto;
    transform: scale(1.02);
    margin: 20px 20px;
  
}

/* Hide scrollbar */
.new-card::-webkit-scrollbar {
    display: none;
}

.vacancy-btn {
    /* background-color: #a5c422; */
    background-color: #002F5F; /* Dark blue */
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.vacancy-btn:hover {
    background-color: #0056b3;
}

.underline {
    width: 30px;
    height: 3px;
    background-color: #002F5F; /* Dark blue underline */
    margin-top: -10px;
    margin-bottom: 10px; 
}

.description {
    padding-top: 6px;
    font-size: 13px;
    color: #888888; 
    line-height: 1.5;
}

.title {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: -3px;
}

/* gallery  */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}
.gallery-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    height: max-content;
    width: 100%;
   
   
}

.gallery-item img {
    
    width: 100%;
    max-height: 350px;
    display: block;
    transition: 0.3s ease-in-out;
    background-size: contain;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.gallery-item:hover img {
    filter: brightness(50%);
    transform: scale(1.2);
}

.gallery-item:hover .overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

/* Gallery video */

/* Container for all videos */
.video-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Stacks videos vertically */
    gap: 15px; /* Spacing between rows */
}

/* Each video item */
.gallery-video {
    position: relative;
    flex: 1 1 100%; /* Makes each video take up 100% width */
    margin-bottom: 15px; /* Spacing between rows */
    border-radius: 10px;
    overflow: hidden;
}

/* Video styling */
.gallery-video video {
    width: 100%;
    height: 550px;
    border-radius: 10px;
    
}
/* Responsive styling */
@media (max-width: 768px) {
    .gallery-video {
        flex: 1 1 100%; /* One video per row on smaller screens */
    }

    .gallery-video video {
        width: 100%;
        height: auto;
        border-radius: 10px;
        
    }
}


/* Testimonial Container */
.testimonial-container {
    width: auto;
    margin: auto;
    text-align: center;
    background: #f9f9f9;
    margin-bottom: 15px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0x 1px rgba(0, 0, 0, 0.1);
    position: relative;
}



/* Testimonial Carousel */
.testimonial-carousel {
    position: relative;
    overflow: hidden;
    height: 120px;
}

/* Individual Slides */
.testimonial-slide {
    display: none;
    font-size: 18px;
    font-style: italic;
    color: #333;
    transition: opacity 0.5s ease-in-out;
}

/* Active Slide */
.testimonial-slide.active {
    display: block;
}

/* Author Name */
.testimonial-slide h4 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    /* color: #007bff; */
}

.testimonial-slide p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;

}




/* read more  */
.readmore-card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-top: 20px;
    height: auto;
    
    /* white-space: nowrap; */
    
}

.readmore-card img {
    width: 100%;
    height: 299px;
    object-fit: cover;
    margin-top: 150px;
    margin-left: 10px;
 
}

@media (max-width: 900px) {
    .readmore-card img {
        width: 95%;
        height: 299px;
        object-fit: cover;
        margin-top: 10px;
        margin-left: 10px;
    }
}

/* @media (max-width: 900px) {
    .readmore-card  {
        background-color: blue;
    }
} */

.readmore-card .card-body {
    padding: 15px;
    text-align: left;
    height: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

.readmore-card .card-title {
    color: #333;
    font-weight: bold;
    font-size: 18px;
   
}

.read-more-btn{
    color: #fff;
    border: 0.1px solid transparent;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
    font-family: poppins;
}

.read-more-btn:hover{
    background-color:#4267b2;
    color: #fff;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.card-body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.card-body {
    scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.card-body {
    -ms-overflow-style: none;
}


/* about us video  */

.video-box {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); */
    
}
.video-box video{
    width: 100%;
    height: auto;
    border: none;
    height: 500px;
    border-radius: 10px;
}

/* about us image  */
.about-slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.about-slides img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
    .about-slides img {
        width: 100%;
        height: 500px;
        object-fit: contain;
        flex-shrink: 0;
    }
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.prev { left: 10px; }
.next { right: 10px; }

.nav-button:hover {
    background: rgba(0, 0, 0, 0.8);
}


/* readmore diseases image */

.diseases-img{
    width: 555px;
    height: 450px;
    object-fit: cover;
}


/* services facilities image ratio  */

.img-ratio{
    aspect-ratio: 1/1;
}




/*service dropdown  */


.dropdown {
    position: relative;
    display: inline-block;
    /* margin-top: 15px; */
    
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.9);
    z-index: 60;
    list-style: none;
    padding-bottom: 10px;
  
    
  }
  
  .dropdown-content li a {
    padding: 10px;
    color: #509964;
    display: block;
    width: auto;
    text-decoration: none;
    margin-left: -40px;
    
  
  }
  
  .dropdown-content li a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .service-dropdown-btn{
    color: #555555;
    font-size: 12px;
    font-weight: 500;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    border: none;
    background-color: transparent;
  }


/* Mobile: dropdown hidden by default, shown via JS */
@media (max-width: 767px) {

    .dropdown{
        margin-top:0px;
    }

    .brand-name{
        font-size: 14px;
    }


    .dropdown-content {
      position: static; /* Optional: stack inside navbar on mobile */
    }


    
  .service-dropdown-btn{
    margin-left: -10px;

  }

  }


.simg{
    border-radius: 25%;
    width: 314px;
    height: 314px;
    margin-top: 53px;
}  

@media (max-width: 768px) {
    .simg{
        display: none;
    }
}


.simgd{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-right: 1em;
}

.bullet-box {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Shadow effect */
  }



  /* facilites row  */
.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height > div {
    display: flex;
    flex-direction: column;
}
.team-thumb {
    flex: 1;
    display: flex;
    flex-direction: column;
}

  